@font-face{
	font-family: PlayfairDisplay-Regular;
	src:url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}
@font-face{
	font-family: Ubuntu-Light;
	src:url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}

/*
h1{
	font-family: Roboto-italic;
}*/
body{
	margin: 0;
	padding: 0;
	font-family: Playfair-Display, serif;
	font-size: 16px;
	font-weight: 400;
	color: 626262;
}
header{
	padding: 20px 0;
	border: 1px solid;
}
.container{
	width: 90%;
	margin:0 auto;
	border: 1px solid;
	overflow: hidden;
}
.logo{
	width: 12%;
	float: left;
	border: 1px solid red;
	margin-top: 10px;
}
.logo a{}
.logo a img{
	width: 100%;
}
.menu{
	width: 60%;
	float: right;
	border: 1px solid green;
}
.menu ul{
	list-style: none;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 40px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: #626262;
	border-bottom: 1px solid transparent;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
.menu ul li:last-child a{
	margin-right: 0;
}
/*banner start*/
.banner{}
.b_content{}
.b_content img{
	width: 100%;
}
/*banner end*/
/*getaway start*/
.getaway{
	padding: 50px 0;
}
.container2{
	width: 1000px;
	margin: 0 auto;
	border:1px solid;
}
.g_content{}
.c_light{
	font-family: 'Playfair-Display',sans-serif;
	font-size: 14px;
}
.c_title{}
.c_text{}
/*getaway end*/